@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@mixin text ($color, $size, $weight, $spacing) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
}

// Font-family
$default-font: 'Josefin Sans', sans-serif;

// Font-size
$title: 2.7rem;
$task: 1.2rem;

// Font-weights
$w4: 400;
$w7: 700;

// Colors
:root {
    // Primary
    --bright-blue: hsl(220, 98%, 61%);
    --checked-hover: 45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%);

    // Default
    --background: var(--dark-background);
    --background-to-do-list: var(--dark-background-to-do-list);
    --checkbox-divider: var(--dark-checkbox-divider);
    --text-task: var(--dark-text-task);
    --text-complete: var(--dark-text-complete);
    --text-placeholder: var(--dark-text-placeholder);
    --text-tools: var(--dark-text-tools);

    // Dark Mode
    --dark-background: hsl(235, 21%, 11%);
    --dark-background-to-do-list: hsl(235, 24%, 19%);
    --dark-checkbox-divider: hsl(237, 14%, 26%);
    --dark-text-task: hsl(234, 39%, 85%);
    --dark-text-complete: hsl(233, 11%, 84%);
    --dark-text-placeholder: hsl(234, 11%, 52%);
    --dark-text-tools: hsl(233, 14%, 35%);

    // Light Mode
    --light-background: hsl(0, 0%, 98%);
    --light-background-to-do-list: hsl(0, 0%, 98%);
    --light-checkbox-divider: hsl(236, 33%, 92%);
    --light-text-task: hsl(235, 19%, 35%);
    --light-text-complete: hsl(233, 11%, 84%);
    --light-text-placeholder: hsl(236, 9%, 61%);
    --light-text-tools: hsl(236, 9%, 61%);
}