@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --bright-blue: hsl(220, 98%, 61%);
  --checked-hover: 45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%);
  --background: var(--dark-background);
  --background-to-do-list: var(--dark-background-to-do-list);
  --border-divider: var(--dark-border-divider);
  --text-task: var(--dark-text-task);
  --text-hover: var(--dark-text-hover);
  --text-complete: var(--dark-text-complete);
  --text-placeholder: var(--dark-text-placeholder);
  --text-tools: var(--dark-text-tools);
  --dark-background: hsl(235, 21%, 11%);
  --dark-background-to-do-list: hsl(235, 24%, 19%);
  --dark-border-divider: hsl(237, 14%, 26%);
  --dark-text-task: hsl(234, 39%, 85%);
  --dark-text-hover: hsl(236, 33%, 92%);
  --dark-text-complete: hsl(233, 14%, 35%);
  --dark-text-placeholder: hsl(234, 11%, 52%);
  --dark-text-tools: hsl(234, 11%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --light-background-to-do-list: hsl(0, 0%, 98%);
  --light-border-divider: hsl(236, 33%, 92%);
  --light-text-task: hsl(235, 19%, 35%);
  --light-text-complete: hsl(233, 11%, 84%);
  --light-text-placeholder: hsl(236, 9%, 61%);
  --light-text-tools: hsl(236, 9%, 61%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

.switch {
  --background: var(--light-background);
  --background-to-do-list: var(--light-background-to-do-list);
  --border-divider: var(--light-border-divider);
  --text-task: var(--light-text-task);
  --text-hover: var(--light-text-hover);
  --text-complete: var(--light-text-complete);
  --text-placeholder: var(--light-text-placeholder);
  --text-tools: var(--light-text-tools);
}

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --checked-hover: 45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%);
  --background: var(--dark-background);
  --background-to-do-list: var(--dark-background-to-do-list);
  --border-divider: var(--dark-border-divider);
  --text-task: var(--dark-text-task);
  --text-hover: var(--dark-text-hover);
  --text-complete: var(--dark-text-complete);
  --text-placeholder: var(--dark-text-placeholder);
  --text-tools: var(--dark-text-tools);
  --dark-background: hsl(235, 21%, 11%);
  --dark-background-to-do-list: hsl(235, 24%, 19%);
  --dark-border-divider: hsl(237, 14%, 26%);
  --dark-text-task: hsl(234, 39%, 85%);
  --dark-text-hover: hsl(236, 33%, 92%);
  --dark-text-complete: hsl(233, 14%, 35%);
  --dark-text-placeholder: hsl(234, 11%, 52%);
  --dark-text-tools: hsl(234, 11%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --light-background-to-do-list: hsl(0, 0%, 98%);
  --light-border-divider: hsl(236, 33%, 92%);
  --light-text-task: hsl(235, 19%, 35%);
  --light-text-complete: hsl(233, 11%, 84%);
  --light-text-placeholder: hsl(236, 9%, 61%);
  --light-text-tools: hsl(236, 9%, 61%);
}

body {
  position: relative;
  background: var(--background);
  width: 100vw;
  height: 100vh;
  padding: 4.8rem 6.4% 6.9rem;
}
body.light-mode::before {
  background: url(../images/bg-mobile-light.jpg) no-repeat center top;
  background-size: 100%;
  max-height: 20rem;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/bg-mobile-dark.jpg) no-repeat center top;
  background-size: 100%;
  width: 100%;
  height: 100%;
  max-height: 20rem;
  z-index: -1;
}
body header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.3rem;
}
body header .title {
  color: white;
  font-size: 2.7rem;
  letter-spacing: 0.37em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
body header .thema__switch {
  background-color: transparent;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
body header .thema__switch .thema__icon {
  width: 2rem;
}
body .to-do .to-do__form {
  position: relative;
  width: 100%;
}
body .to-do .to-do__form .to-do__task-send {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--border-divider);
  border-radius: 50%;
  margin: unset;
  padding: unset;
  outline: none;
  cursor: pointer;
}
body .to-do .to-do__form .to-do__task-send:checked {
  content: "";
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: url(../images/icon-check.svg), linear-gradient(var(--checked-hover));
  background-repeat: no-repeat;
  background-position: center;
}
body .to-do .to-do__form .to-do__input {
  color: var(--text-task);
  font-size: 1.2rem;
  letter-spacing: -0.015em;
  background-color: var(--background-to-do-list);
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 0 1.6rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  padding: 1.8rem 5.2rem;
  margin-bottom: 1.7rem;
}
body .to-do .to-do__form .to-do__input::-moz-placeholder {
  color: var(--dark-text-placeholder);
}
body .to-do .to-do__form .to-do__input::placeholder {
  color: var(--dark-text-placeholder);
}
body .to-do__list {
  background: var(--background-to-do-list);
  width: 100%;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  box-shadow: 0 0.8rem 2.4rem 0.4rem hsla(0, 0%, 0%, 0.1);
}
body .to-do__list .to-do__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-divider);
  align-items: center;
  padding: 1.6rem 2rem;
}
body .to-do__list .to-do__item .to-do__complete {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
  border: 1px solid var(--border-divider);
  border-radius: 50%;
  margin: unset;
  padding: unset;
  outline: none;
  cursor: pointer;
}
body .to-do__list .to-do__item .to-do__complete:checked {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: url(../images/icon-check.svg), linear-gradient(var(--checked-hover));
  background-repeat: no-repeat;
  background-position: center;
}
body .to-do__list .to-do__item .to-do__complete:not(:checked):hover {
  border: 2px solid transparent;
  background-image: linear-gradient(var(--background-to-do-list), var(--background-to-do-list)), radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: inline-block;
}
body .to-do__list .to-do__item .to-do__complete:checked + .to-do__task {
  color: var(--text-complete);
  text-decoration: line-through;
}
body .to-do__list .to-do__item .to-do__task {
  color: var(--text-task);
  font-size: 1.2rem;
  letter-spacing: -0.015em;
  width: 100%;
  padding: 0 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .to-do__list .to-do__item .to-do__task:hover {
  color: var(--text-hover);
}
body .to-do__list .to-do__item .to-do__task.complete {
  text-decoration: line-through;
}
body .to-do__list .to-do__item .to-do__delete {
  background-color: transparent;
  border: none;
  outline: none;
  width: 1.2rem;
  height: 1.2rem;
  padding: unset;
  cursor: pointer;
}
body .to-do__list .to-do__item .to-do__delete .to-do__delete--icon {
  width: 1.2rem;
  height: 1.2rem;
}
body .to-do__tools .tools__set-one {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-to-do-list);
  border: none;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
  box-shadow: 0 2.4rem 2.4rem 0.4rem hsla(0, 0%, 0%, 0.1);
  padding: 1.8rem 2rem 2rem;
  margin-bottom: 1.6rem;
}
body .to-do__tools .tools__set-one .tools__task-count {
  color: var(--text-tools);
  font-size: 1.2rem;
  letter-spacing: -0.015em;
  cursor: default;
}
body .to-do__tools .tools__set-one .tools__clear-complete {
  background-color: transparent;
  border: none;
  color: var(--text-tools);
  font-size: 1.2rem;
  letter-spacing: -0.015em;
  cursor: pointer;
}
body .to-do__tools .tools__set-one .tools__clear-complete:hover {
  color: var(--text-hover);
}
body .to-do__tools .tools__set-two {
  display: flex;
  justify-content: center;
  background-color: var(--background-to-do-list);
  border: none;
  border-radius: 0.6rem;
  padding: 1.8rem 0;
  box-shadow: 0 0.4rem 2.4rem 0.4rem hsla(0, 0%, 0%, 0.1);
}
body .to-do__tools .tools__set-two .tools__filter {
  background-color: transparent;
  border: none;
  color: var(--text-tools);
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  font-weight: 700;
  cursor: pointer;
}
body .to-do__tools .tools__set-two .tools__filter:hover {
  color: var(--text-hover);
}
body .to-do__tools .tools__set-two .active {
  color: var(--bright-blue);
}
body footer h3 {
  color: var(--text-tools);
  font-size: 1.4rem;
  letter-spacing: -0.0175em;
  text-align: center;
  margin: 4.3rem auto 6.9rem;
}

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --checked-hover: 45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%);
  --background: var(--dark-background);
  --background-to-do-list: var(--dark-background-to-do-list);
  --border-divider: var(--dark-border-divider);
  --text-task: var(--dark-text-task);
  --text-hover: var(--dark-text-hover);
  --text-complete: var(--dark-text-complete);
  --text-placeholder: var(--dark-text-placeholder);
  --text-tools: var(--dark-text-tools);
  --dark-background: hsl(235, 21%, 11%);
  --dark-background-to-do-list: hsl(235, 24%, 19%);
  --dark-border-divider: hsl(237, 14%, 26%);
  --dark-text-task: hsl(234, 39%, 85%);
  --dark-text-hover: hsl(236, 33%, 92%);
  --dark-text-complete: hsl(233, 14%, 35%);
  --dark-text-placeholder: hsl(234, 11%, 52%);
  --dark-text-tools: hsl(234, 11%, 52%);
  --light-background: hsl(0, 0%, 98%);
  --light-background-to-do-list: hsl(0, 0%, 98%);
  --light-border-divider: hsl(236, 33%, 92%);
  --light-text-task: hsl(235, 19%, 35%);
  --light-text-complete: hsl(233, 11%, 84%);
  --light-text-placeholder: hsl(236, 9%, 61%);
  --light-text-tools: hsl(236, 9%, 61%);
}

@media only screen and (min-width: 1400px) {
  body {
    padding: 7.8rem 31.25% 5rem;
  }
  body.light-mode::before {
    background: url(../images/bg-desktop-light.jpg) no-repeat center top;
    background-size: 100%;
    max-height: 30rem;
  }
  body::before {
    background: url(../images/bg-desktop-dark.jpg) no-repeat center top;
    background-size: 100%;
    max-height: 40rem;
  }
  body header {
    margin-bottom: 4rem;
  }
  body header .title {
    font-size: 4rem;
  }
  body .to-do .to-do__form .to-do__task-send {
    width: 2.4rem;
    height: 2.4rem;
    top: 2rem;
    left: 2.4rem;
  }
  body .to-do .to-do__form .to-do__input {
    font-size: 1.8rem;
    height: 6.4rem;
    letter-spacing: 0.01em;
    padding: 2.4rem 7rem;
  }
  body .to-do .to-do__list .to-do__item {
    padding: 2.4rem 2.4rem 2.2rem;
  }
  body .to-do .to-do__list .to-do__item .to-do__complete {
    width: 2.4rem;
    height: 2.4rem;
  }
  body .to-do .to-do__list .to-do__item .to-do__complete:checked {
    width: 2.4rem;
    height: 2.4rem;
  }
  body .to-do .to-do__list .to-do__item .to-do__task {
    font-size: 1.8rem;
  }
  body .to-do .to-do__list .to-do__item .to-do__task:hover + .to-do__delete {
    display: block;
  }
  body .to-do .to-do__list .to-do__item .to-do__delete {
    display: none;
    width: 1.8rem;
    height: 1.8rem;
  }
  body .to-do .to-do__list .to-do__item .to-do__delete .to-do__delete--icon {
    width: 1.8rem;
    height: 1.8rem;
  }
  body .to-do .to-do__tools {
    position: relative;
  }
  body .to-do .to-do__tools .tools__set-two {
    position: absolute;
    top: 0;
    left: calc(50% - 8.2875rem);
    background-color: transparent;
    width: 16.575rem;
    border: none;
    box-shadow: none;
  }
}/*# sourceMappingURL=style.css.map */